@import "default.css";

#tasks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#tasks-grid div {
    background: var(--color-surface-200);
    border-radius: 20px;
    height: fit-content(0);
}

.appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 var(--color-primary-100);
    }
    100% {
        box-shadow: 0 0 5px 5px var(--color-primary-100);
    }
}

.glow:hover {
    animation-name: glow;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#tasks-grid h2 {
    margin: 10px 10px 5px 10px;
}

#tasks-grid span {
    margin: 5px 10px 5px 10px;
}

#tasks-grid button {
    margin: 5px 10px 10px 10px;
}

@media only screen and (max-width: 1050px) {
    #tasks-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    #tasks-grid {
        grid-template-columns: 1fr;
    }
}

