@import "default.css";

.aufgaben_nav {
    width: fit-content;
}

.aufgaben_nav h2 {
    margin: 0 0 5px 0;
}

.aufgaben_nav nav a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-left: 1rem;
}

hr {
    margin: 0.5rem;
}

.container {
    background: var(--color-surface-200);
    border-radius: 20px;
    padding: 10px;
    margin: 1rem;
    height: fit-content;
}

.container h3, h4 {
    margin: 0;
}

.container p {
    margin: 1rem 0 0;
}

iframe {
    border: solid white 0;
    background: white;
    transition: width 1s;
}

.code-block {
    display: none;
}

table, tr, td, th {
    border: solid white 1px;
    border-collapse: collapse;;
}

th, td {
    padding: 10px;
}

#top_button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-primary-100);
    color: white;
    text-decoration: none;
    text-align: center;
}